name: GCP Project Creation

on:
    issues:
        types: [opened, edited]
        # filters:
        #     issue:
        #         template: issueops:new_gcp_project

jobs:
    create_gcp_project:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            
            - name: Set up Git
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
            
            - name: Create Branch
              run: |
                    git checkout -b ${{ github.event.issue.number }}-gcp-project
            
            - name: Extract Issue Data
              id: extract_data
              uses: actions/github-script@v6
              with:
                script: |
                  const issue = context.payload.issue;
                  const body = issue.body;

                  console.log("Issue Body:", body);

                  const projectNameMatch = body.match(/### Project Name\s+(.+)/);
                  const projectTypeMatch = body.match(/### Project Type\s+(.+)/);

                  const projectName = projectNameMatch ? projectNameMatch[1].trim() : null;
                  const projectType = projectTypeMatch ? projectTypeMatch[1].trim() : null;

                  core.exportVariable('PROJECT_NAME', projectName);
                  core.exportVariable('PROJECT_TYPE', projectType);

            - name: Apply Template
              run: |
                cp templates/gcp_project_template.yaml gcp_projects/${{ github.event.issue.number }}.tf
                envsubst < gcp_projects/${{ github.event.issue.number }}.tf > gcp_projects/${{ github.event.issue.number }}_final.tf
                mv gcp_projects/${{ github.event.issue.number }}_final.tf gcp_projects/${{ github.event.issue.number }}.tf
                git add gcp_projects/${{ github.event.issue.number }}.tf
                git commit -m "Add GCP project configuration for issue #${{ github.event.issue.number }}"

            - name: Push Changes
              run: |
                  git push origin ${{ github.event.issue.number }}
            
            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v5
              with:
                branch: ${{ github.event.issue.number }}-gcp-project
                title: "Add GCP Project for Issue #${{ github.event.issue.number }}"