name: GCP Project Creation

permissions:
  contents: write
  pull-requests: write

on:
    issues:
        types: [opened, edited]
        # filters:
        #     issue:
        #         template: issueops:new_gcp_project

jobs:
    create_gcp_project:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Generate GitHub App token
              id: app-token
              uses: tibdex/github-app-token@v2
              with:
                app_id: ${{ secrets.APP_ID }}
                private_key: ${{ secrets.PRIVATE_KEY }}
            
            - name: Set up Git
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
            
            - name: Create Branch
              run: |
                    git checkout -b ${{ github.event.issue.number }}-gcp-project
            
            - name: Extract Issue Data
              id: extract_data
              uses: actions/github-script@v6
              with:
                script: |
                  const issue = context.payload.issue;
                  const body = issue.body;

                  console.log("Issue Body:", body);

                  const projectNameMatch = body.match(/### Project Name\s+(.+)/);
                  const projectTypeMatch = body.match(/### Project Type\s+(.+)/);

                  const projectName = projectNameMatch ? projectNameMatch[1].trim() : null;
                  const projectType = projectTypeMatch ? projectTypeMatch[1].trim() : null;

                  core.exportVariable('PROJECT_NAME', projectName);
                  core.exportVariable('PROJECT_TYPE', projectType);

            - name: Apply Template
              run: |
                cp templates/gcp_project_template.tf gcp_projects/${{ github.event.issue.number }}.tf
                envsubst < gcp_projects/${{ github.event.issue.number }}.tf > gcp_projects/${{ github.event.issue.number }}_final.tf
                mv gcp_projects/${{ github.event.issue.number }}_final.tf gcp_projects/${{ github.event.issue.number }}.tf
                git add gcp_projects/${{ github.event.issue.number }}.tf
                git commit -m "Add GCP project configuration for ${{ env.PROJECT_NAME }}"

            - name: Push Changes
              env:
                GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
              run: |
                git push origin ${{ github.event.issue.number }}-gcp-project
            
            - name: Create Pull Request
              env:
                GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
              run: |
                gh pr create --title "Add GCP Project for ${{ env.PROJECT_NAME }}" --body "This PR adds the GCP project configuration as requested in issue #${{ github.event.issue.number }}." --head ${{ github.event.issue.number }}-gcp-project --base main
